:root {
    --PrimaryColor: hsl(210, 100%, 33%);
    --SecondaryColor: #FFAA85;
    --gradientColor: linear-gradient(to right, hsl(210, 100%, 33%), hsl(187, 85%, 45%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: #123458;
    --cardBG: rgb(225, 225, 225);
}

body{
    background-color: var(--bodyColor);
}

.login-bg{
    min-height: 120vh;
    width: 100%;
    background: url("../../Images/Login.jpg") center center/cover no-repeat;
    position: relative;
}

.login-overlay {
    min-height: 120vh;
    width: 100%;
    background: rgba(20, 23, 30, 0.486);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-header{
    position: absolute;
    top: 36px;
    left: 48px;
    font-size: 2rem;
    font-weight: 700;
    z-index: 20;
    color: var(--whiteColor);
    user-select: none;
    letter-spacing: 1px;
}

.trip{
    color: var(--whiteColor);
}

.bidz{
    color: var(--SecondaryColor);
}


.login-card {
    background-color: #D9D9D9;
    border-radius: 14px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.22);
    padding: 40px 60px 28px 60px;
    margin: 0 auto;
    width: 100%;
    max-width: 625px;
    z-index: 5;
    position: static;
}

.login-title{
    text-align: center;
    color: #000000;
    font-size: 2.3rem;
    font-weight: 700;
    margin: 30px 0;
}

.login-label{
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
}

.login-input{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #dadada;
    border-radius: 8px;
    margin-bottom: 18px;
    font-size: 15px;
    background: #fff;
}

.login-btn{
    width: 100%;
    padding: 10px 0;
    background-color: var(--SecondaryColor);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 5px;
    transition: background .2s;
}

.login-btn:hover{
    background: #e28a65;
}

.login-footer{
    text-align: left;
    margin-top: 3px;
    font-size: 14px;
}

.login-footer a{
    color: #437CB8;
    text-decoration: none;
}

.login-copyright {
    margin-top: 40px; /* Reduced for mobile! */
    font-size: 16px;
    text-align: center;
}

.login-copyright span{
    font-size: 20px;
    font-weight: 800;
}

@media (min-width: 481px) {
  .login-overlay {
      align-items: flex-end; /* move items to the right */
      justify-content: center;
      flex-direction: column;
  }
  .login-card {
      position: absolute;
      right: 45px;
      top: 100px;
      margin: 0;
      width: 600px;
      height: 710px;
      max-width: 85vw;
  }
  .login-copyright {
      margin-top: 200px;
  }
}


