.itinerary-container{
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.chatbot-container{
    background-color: aqua;
    width:80%;
    height: 50%;
}